$blue-tick-color: #38bdf8;
$blue-tick-color-rgb: 56, 189, 248;

// My dark palette
$dark-975: #0A0A0A;
$dark-975-rgb: 10, 10, 10;

$dark-950: #0F0F10;
$dark-950-rgb: 15, 15, 16;

$dark-925: #141415;
$dark-925-rgb: 20, 20, 21;

$dark-900: #19191A;
$dark-900-rgb: 25, 25, 26;


$dark-875: #232324;
$dark-875-rgb: 35, 35, 36;

$dark-850: #28282A;
$dark-850-rgb: 40, 40, 42;

$dark-825: #2D2D2F;
$dark-825-rgb: 45, 45, 47;

$dark-800: #323234;
$dark-800-rgb: 50, 50, 52;


$dark-775: #3C3C3E;
$dark-775-rgb: 60, 60, 62;

$dark-750: #414144;
$dark-750-rgb: 65, 65, 68;

$dark-725: #464649;
$dark-725-rgb: 70, 70, 73;

$dark-700: #4B4B4E;
$dark-700-rgb: 75, 75, 78;


$dark-675: #555558;
$dark-675-rgb: 85, 85, 88;

$dark-650: #5A5A5E;
$dark-650-rgb: 90, 90, 94;

$dark-625: #5F5F63;
$dark-625-rgb: 95, 95, 99;

$dark-600: #646468;
$dark-600-rgb: 100, 100, 104;


$dark-575: #69696D;
$dark-575-rgb: 105, 105, 109;

$dark-550: #737378;
$dark-550-rgb: 115, 115, 120;

$dark-525: #78787D;
$dark-525-rgb: 120, 120, 125;

$dark-500: #7D7D82;
$dark-500-rgb: 125, 125, 130;


$dark-475: #87878C;
$dark-475-rgb: 135, 135, 140;

$dark-450: #8D8D91;
$dark-450-rgb: 141, 141, 145;

$dark-425: #929296;
$dark-425-rgb: 146, 146, 150;

$dark-400: #97979B;
$dark-400-rgb: 151, 151, 155;


$dark-375: #A1A1A5;
$dark-375-rgb: 161, 161, 165;

$dark-350: #A7A7AA;
$dark-350-rgb: 167, 167, 170;

$dark-325: #ACACAF;
$dark-325-rgb: 172, 172, 175;

$dark-300: #B1B1B4;
$dark-300-rgb: 177, 177, 180;


$dark-275: #BBBBBE;
$dark-275-rgb: 187, 187, 190;

$dark-250: #C1C1C3;
$dark-250-rgb: 193, 193, 195;

$dark-225: #C6C6C8;
$dark-225-rgb: 198, 198, 200;

$dark-200: #CBCBCD;
$dark-200-rgb: 203, 203, 205;


$dark-175: #D5D5D7;
$dark-175-rgb: 213, 213, 215;

$dark-150: #E0E0E1;
$dark-150-rgb: 224, 224, 225;

$dark-125: #E0E0E1;
$dark-125-rgb: 224, 224, 225;

$dark-100: #E5E5E6;
$dark-100-rgb: 229, 229, 230;


$dark-75: #EFEFF0;
$dark-75-rgb: 239, 239, 240;

$dark-50: #F5F5F5;
$dark-50-rgb: 245, 245, 245;

$dark-25: #FAFAFA;
$dark-25-rgb: 250, 250, 250;